<div class="registration-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>UNICORN Dashboard Registration</h1>
            <form novalidate [formGroup]="registerForm" (ngSubmit)="registerUser()">
                <div class="form-group">
                    <label>Fullname</label>
                    <input type="text"
                            class="form-control"
                            formControlName="fullName">
                </div>
                <div class="form-group">
                        <label>Username</label>
                        <input type="text"
                                class="form-control"
                                formControlName="username">
                    </div>
                <div class="form-group">
                    <label>E-Mail</label>
                        <input type="text"
                                class="form-control"
                                formControlName="email">
                </div>
                <div class="form-group">
                        <label>Password</label>
                        <input type="text"
                                    class="form-control"
                                    formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary"  [disabled]="!registerForm.valid" >Register</button>

            </form>
            <!-- <form name="form" (ngSubmit)="f.form.valid && registerUser()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !fullName.valid }">
                            <label for="fullName">Fullname</label>
                            <input type="text" class="form-control" name="fullName" [(ngModel)]="model.fullName" #fullName="ngModel" required />
                            <span *ngIf="f.submitted && !fullName.valid" class="help-block">Fullname is required</span>
                        </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                    <label for="email">E-Mail Adress</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                    <span *ngIf="f.submitted && !email.valid" class="help-block">E-Mail address is required</span>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <label for="password">Password&nbsp;</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                    <span *ngIf="f.submitted && !password.valid" class="help-block">Password is required</span>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Register</button>
                </div>
                <div>{{registerMessage}}</div>
                <div *ngIf="error" class="alert alert-error">{{error}}</div>
            </form> -->
            <div>
                If you are already registered, please <button class="btn btn-outline-primary" (click)=goToLoginPage()>Login</button>
            </div>
        </div>
    </div>
</div>

