<nav class="navbar navbar-expand-lg fixed-top">
    <img class="img-responsive" height="50" src="../../assets/images/basmati_logo.png" hspace="20">
    <a class="navbar-brand" href="#">BASMATI Monitoring Service </a>
</nav>
