<!-- <head>
    <meta http-equiv="refresh" content="60">
  </head>
-->
<div [@routerTransition]>
  <h2>Monitoring Data</h2>
      <mat-card>
        <mat-grid-list cols="2">
          <mat-grid-tile>
              <canvas id="memory:free" width="200" height="200"></canvas>
          </mat-grid-tile>
          <mat-grid-tile>
              <canvas id="cpu:user" width="200" height="200"></canvas>
          </mat-grid-tile>
          <mat-grid-tile>
            <canvas id="disk:free" width="200" height="200"></canvas>
        </mat-grid-tile>
        <mat-grid-tile>
          <canvas id="net:eth0:tx" width="200" height="200"></canvas>
      </mat-grid-tile>
      <mat-grid-tile>
        <canvas id="net:eth0:rx" width="200" height="200"></canvas>
    </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
</div>