<div [@routerTransition]>
    <div *ngIf="errorMessage">
        {{ errorMessage }}
    </div>
    <h2>{{ serviceName }}</h2>
    <mat-card>
        <mat-card-title>
            <h3>Critical Machines</h3>
        </mat-card-title>
        <br>
        <mat-grid-list cols="3" rowHeight="180px"gutterSize="10px">
            <mat-grid-tile
                *ngFor="let contract of criticalContracts"
                [style.border]="'1px solid #BCBCCB'"
                [style.background]="contract.background_color"
                (click)=goToMonPage(contract)>
                <mat-card-content>
                    <div>
                        <b>{{ contract.name }}</b>
                    </div><br>
                    <div>
                        <b>Service ID:</b> <br>
                        {{ contract.id }}
                    </div>
                </mat-card-content>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>

    <mat-card>
        <mat-card-title>
            <h3>Machines</h3>
        </mat-card-title>
        <br>
        <mat-grid-list cols="3" rowHeight="180px"gutterSize="10px">
            <mat-grid-tile
                *ngFor="let contract of okContracts"
                [style.border]="'1px solid #BCBCCB'"
                [style.background]="contract.background_color"
                (click)=goToMonPage(contract)>
                <mat-card-content>
                    <div>
                        <b>{{ contract.name }}</b>
                    </div><br>
                    <div>
                        <b>Service ID:</b> <br>
                        {{ contract.id }}
                    </div>
                </mat-card-content>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>
