<div class="card #4D4F5C bg-{{bgClass}}">
    <div class="card-header">
        <div class="col-xs-2">
            <div class="col col-xs-9 text-middle">
                <div class="d-block">{{label}}</div>
            </div><br>
            <div class="col col-xs-3">
                <font color="red">
                <i class="fa fa-exclamation-triangle">{{errdata}}</i>
            </font>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <span class="float-left">View Details</span>
        <span class="float-right card-inverse">
            <span ><i class="fa fa-fw fa-pause"></i></span>
            <span ><i class="fa fa-fw fa-stop"></i></span>
            <span ><i class="fa fa-fw fa-cog"></i></span>
        </span>
    </div>
</div>
