<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Overview' | translate }}
        </a>
        <div *ngFor="let contract of machineData" >
        <a [routerLink]="['/monitoring', contract.contract.id]" [routerLinkActive]="['router-link-active']" class="list-group-item" >
            {{ contract.contract.name }}
        </a>
    </div>
    </div>
</nav>
